.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.searchbar {
  background-color: var(--card-background-color);
  padding: 20px;
  border: var(--card-border);
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.searchForm {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.searchbarInput {
    background-color: #ffffff;
    padding: 20px;
    border: 4px solid #000;
    box-shadow: 8px 8px 0 #000;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.searchformInput {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.searchformInput:focus {
  outline: none;
}

.searchIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
